.cell{
    /* border: 2px solid white; */
    display: inline-block;
    width: 18px ;
    height: 18px ;
    margin: 2px;
  }
  #curr{
    background-color: red;
  }

  .focusing {
      background-color: yellow;
  }

  .capturing {
       background-color: #ff99d7;
       border: 2px dashed black;
       height: 14px;
       width: 14px;
  }

  .captured {
    background-color : green;
    border: 2px solid black;
    height: 14px;
    width: 14px;
  }